{% extends 'blogTemplate.twig' %}


{% block articles %}

			
			
	<div class="8u 12u$(medium)">

	<!-- Content -->
		<section id="content">

			{% for post in posts %}

			<div>
				<div class="small-posts">
					<div class="img-posts">

						post.images|first
						{% for img in imgs %}
						
							{% if img.post_id == post.id %} 

							<img src="{{ img.url }}" alt="photo" />

							{% endif %}
					    
						{% endfor %}
					</div>
					<div class="content-posts">
						<h3> {{ post.title }} </h3>
						<p>{{ post.content|truncate(230, true)|raw}}</p>
						
					</div>	
				</div>	

				<p class="post-info">Publié le {{ post.publication }} - {{ post.countComments }} Commentaire(s)</p>

				<footer>
					<a href="index.php?action=blog&amp;postId={{ post.id }}" class="button small alt">Lire la suite ...</a>
				</footer>
			</div>
			<hr>

			{% endfor %}
		</section>
	</div>
    
{% endblock articles %}


{% block portfolio %}

	{% for painting in paintings %}
	
	<img src=" {{ painting.url }} " alt="Peinture de Jeanne-Marie Desmares">				    
	{% endfor %}
    
{% endblock %}


{% block categories %}

	{% for category in categories %}

	<a href="index.php?action=blog&amp;category={{ category.name | lower }}" class="categories">
		<p >{{ category.name }} - {{ category.post_id }}</p>
	</a>

	{% endfor %}
    
{% endblock %}


{% block recentPosts %}

	{% for recentPost in recentPosts %}

	<h5> {{ recentPost.title }} <span id="recentPost-date"> - {{ recentPost.publication }}</span></h5>
		    
	{% endfor %}

{% endblock %}

