{% extends 'blogTemplate.twig' %}


{% block articles %}

	{% for post in posts %}

	<div class="small-posts">
		<div class="img-posts">
			<img src="{{ postsImgs[post.id]|first}}" alt="photo"/>		
		</div>
		<div class="content-posts">
			<h3> {{ post.title }} </h3>
			<p>{{ post.content|truncate(230, true)|raw}}</p>
			
		</div>	
	</div>	

	<p class="post-info">Publié le {{ post.publication }}</p>

	<footer>
		<a href="index.php?action=blog&amp;postId={{ post.id }}" class="button small alt">Lire la suite ...</a>
	</footer>

	{% if loop.last == false %}
	<hr>
	{% endif %}

	{% endfor %}
		
{% endblock articles %}

{% block pagination %}

	<div id="pagination">
        <div>
            <a href="index.php?action=blog&amp;page=1"><i class="fa fa-angle-double-left">
            </i></a>
        </div>
            
        <div>
            <a href="index.php?action=blog&amp;page={% if pageNumber == 1 %}{{ pageNumber }}{% else %}{{ pageNumber - 1 }}{% endif %}"><i class="fa fa-angle-left">
            </i></a>
        </div>

        <div>
            <p> {{ pageNumber }}/{{ numberOfPages }} </p>
        </div>
        
        <div>
            <a href="index.php?action=blog&amp;page={% if pageNumber == numberOfPages %}{{ pageNumber }}{% else %}{{pageNumber + 1}} {% endif %}"><i class="fa fa-angle-right">
            </i></a>
        </div>

        <div>
            <a href="index.php?action=blog&amp;page={{numberOfPages}}"><i class="fa fa-angle-double-right"></i></a>
            </i>
        </div>
    </div>
    
{% endblock pagination %}


{% block portfolio %}

	{% for painting in paintings %}
	
	<img src=" {{ painting.url }} " alt="Peinture de Jeanne-Marie Desmares">				    
	{% endfor %}
    
{% endblock %}


{% block categories %}

	{% for category in categories %}

	<a href="index.php?action=blog&amp;category={{ category.name | lower }}" class="categories">
		<p >{{ category.name }} - {{ category.post_id }}</p>
	</a>

	{% endfor %}
    
{% endblock %}


{% block recentPosts %}

	{% for recentPost in recentPosts %}

	<h5> {{ recentPost.title }} <span id="recentPost-date"> - {{ recentPost.publication }}</span></h5>
		    
	{% endfor %}

{% endblock %}

