{% extends 'blogTemplate.twig' %}


{% block articles %}

            
            
    

    <!-- Content -->
        <div class="post-main-content">    
            <div id="post">
                <h3> {{ post.title }} </h3>
                <p>Le {{ post.publication }}</p>

                {% for img in imgs %}
                    
                {% if img.post_id == post.id %}

                <img src=" {{ img.url }}" alt="photo" />

                {% endif %}
                    
                {% endfor %}
            
                <p>{{ post.content|raw }}</p>
                <p id="signature">JMD</p class="signature">
            </div>
            

            <hr>

            <h3><i class="icon fa-comment"></i>COMMENTAIRES</h3>

            {% for comment in comments %}

            {% if comment.reported == false %}

            <div id="comment-container">

                <div class="comment-info"><p>Le {{ comment.creation }} <span class="comment-name">{{ comment.prenom }}</span> a écrit :</p></div>

                <div class="comment-content"><p class="comment-content">{{ comment.content }}</p></div>

                {% if comment.validated == false %}

                <a href="index.php?action=blog&amp;choice=report&amp;commentId={{comment.id}}&amp;postId={{post.id}}" disabled="disabled"><button class="button smal alt warning" id="">Signaler</button></a>

                {% endif %}

            </div>                    

            {% endif %}
            {% endfor %}

            <div id="pagination">
                <div>
                    <a href="index.php?action=blog&amp;postId={{ post.id }}&amp;page=1"><i class="fa fa-angle-double-left">
                    </i></a>
                </div>
                    
                <div>
                    <a href="index.php?action=blog&amp;postId={{ post.id }}&amp;page={% if pageNumber == 1 %}{{ pageNumber }}{% else %}{{ pageNumber - 1 }}{% endif %}"><i class="fa fa-angle-left">
                    </i></a>
                </div>

                <div>
                    <p> {{ pageNumber }}/{{ numberOfPages }} </p>
                </div>
                
                <div>
                    <a href="index.php?action=blog&amp;postId={{ post.id }}&amp;page={% if pageNumber == numberOfPages %}{{ pageNumber }}{% else %}{{pageNumber + 1}} {% endif %}"><i class="fa fa-angle-right">
                    </i></a>
                </div>

                <div>
                    <a href="index.php?action=blog&amp;postId={{ post.id }}&amp;page={{numberOfPages}}"><i class="fa fa-angle-double-right"></i></a>
                    </i>
                </div>
            </div>

            <div id="add-comment">
                <h3>Laissez un commentaire</h3>

                <form method="post" action="index.php?action=addComment&amp;id={{ post.id }}">
                    {% if msg is not null %}
                    <p id="comment-msg">{{ msg }}</p>
                    {% endif %}
                    <label for="name">Votre prénom : <input class="comment-form" type="text" name="name" id="name" placeholder="Mon Prénom" required></label>
                    <label for="comment">Votre commentaire :
                    <textarea class="comment-form" name="comment" id="comment" required></textarea></label>
                    <input type="submit" value="Valider" class="button small alt">
                </form>
            
            </div>

            

        </div>
   
    
{% endblock articles %}


{% block portfolio %}

    {% for painting in paintings %}
    
    <img src=" {{ painting.url }} " alt="Peinture de Jeanne-Marie Desmares">
                    
    {% endfor %}
    
{% endblock %}


{% block categories %}


    {% for category in categories %}

    <a href="index.php?action=blog&amp;category={{ category.name | lower }}" class="categories">
        <p >{{ category.name }} - {{ category.post_id }}</p>
    </a>

    {% endfor %}

    
{% endblock %}


{% block recentPosts %}

    {% for recentPost in recentPosts %}

    <h5> {{ recentPost.title }} <span id="recentPost-date"> - {{ recentPost.publication }}</span></h5>
            
    {% endfor %}
    
{% endblock %}

